<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>KOREA DevOps meetup '18</title>
<!-- css -->

{% load static %}
<link rel="stylesheet" href="{% static 'meetup/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'meetup/ionicons.css' %}">
<link rel="stylesheet" href="{% static 'meetup/main.css' %}">
<link rel="icon" href="assets/images/xxxhdpi.png">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'meetup/style.css' %}" />
</head>

